# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*/.Rhistory
.Rhistory

10_code/30_polling_place_travel_times/googlemapskey.py

# Latex helper files
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out 
*(busy)
30_docs/*.pdf
30_docs/polling_place_paper/*.pdf
70_presentations/*/*.pdf
70_presentations/*.pdf
*.nav
*.snm
*.toc

*.DS_Store
30_docs/polling_place_paper/VotersPollingPlaces.pdf
*.sr.lock
30_docs/polling_place_paper/Polling_Place_and_Turnout_v1_March2018.pdf
30_docs/polling_place_paper/Polling_Place_and_Turnout_v3_March292018.pdf
30_docs/git_conflicts/*.pdf
30_docs/targetting_paper/*.pdf
*.xml
*.bcf
